snippet cjkp "xeCJK font configuration in preamble"
\\setCJKmainfont[ItalicFont={KaiTi}]{SimSun}
\\setCJKsansfont{Microsoft YaHei}
\\setCJKmonofont{Sarasa Mono SC}
\\newCJKfontfamily[song]\\songti{SimSun}
\\newCJKfontfamily[kai]\\kaiti{KaiTi}
\\newCJKfontfamily[hei]\\heiti{Microsoft YaHei}
endsnippet
